.ansible
.bash_history
.bash_logout
.bashrc
.bundle
.cache
.cargo
.config
.cpanm
.git
.gitignore.swp
.local
.local.env
.npm
.perl-cpm
.profile
.rustup
.ssh
.vscode-server
.wget-hsts
.viminfo
.lesshst

webapp/node
webapp/perl
webapp/php
webapp/python
webapp/ruby
webapp/rust

local/
go/
!webapp/go
